<h1>
    <%= @passenger.name%>
</h1>
<p>Phone #: <%= @passenger.phone_num%></p>

<h2>Total Amount Charged: <%= @passenger.total_cost %></h2>

<section>
    <h2>Passenger Trips</h2>
      <article>
        <table>
          <thead>
            <tr>
              <th width="10%">
              ID
              </th>
              <th width="10%">
              Date
              </th>
              <th width="20%">
              Driver
              </th>
              <th width="20%">
              Passenger
              </th>
              <th width="10%">
              Price
              </th>
              <th width="10%">
              Rating
              </th>
              <th width="20%">
              Delete/Edit Link
              </th>
            </tr>
          </thead>
          <tbody>
            <%# list of trips ---> so it would be a list of the passengers.driver(where driver id is the driver showing%>
            <% @trips.each do |trip|%>
            <tr>
              <td>
                <%= link_to trip.id, trip_path(trip.id) %>
              </td>
               <td>
                <%= trip.date %>
              </td>
               <td>
                <%= link_to trip.driver.name, driver_path(trip.driver.id) %>
              </td>
               <td>
                <%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %>
              </td>
               <td>
                <p>$ <%= (trip.cost / 100).round(2) %> <%#Calculate the price The driver gets 80% of the trip cost after a fee of $1.65 is subtracted%></p>
              </td>
               <td>
                <%= trip.rating.round %>
              </td>
              <td>
                <%= link_to "Delete"%>
                <%= link_to "Edit"%>
              </td>
            </tr>
            <% end%>
          </tbody>
         </table>
      </article>
</section>
<p>
<%= link_to "Create New Trip", new_trip_path(@passenger.id) %>
<%= link_to "Edit Passenger", edit_passenger_path(@passenger.id) %>
<%= link_to "Delete Passenger", passenger_path(@passenger.id), method: :delete %> 
<p>